<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sport Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["username"] != null)
                    {
                        <li><a href=http://localhost:60323/users/Details/@Session["username"]> My Profile</a></li>
                        if (Session["cartsize"]!=null && (int)Session["cartsize"] > 0) {
                            string s = "My Cart(" + (int)Session["cartsize"]+")";
                        <li>@Html.ActionLink(s,"showcart", "users")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("My Cart (0)", "showcart", "users")</li>
                        }
                    }
                </ul>
                @if (Session["username"] != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Welcome : @Session["username"]</a></li>
                        <li><a href="/users/Logout">Logout</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/users/Login">Login</a></li>
                        <li><a href="/users/Create">Register</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div style="margin-top:20px; margin-left:10px;">
        @RenderBody()
        <br />
        <hr />
       

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
