
@model AlexMichaelProject.Models.user

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purchase</title>
</head>
<body>
    @*@using (Html.BeginForm())
    {*@
    <form id="myForm" action=@Url.Action("buyt", "tickets") method="post">

        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.paymentoptions, "chose credit card:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("paymentoptions", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.paymentoptions, "", new { @class = "text-danger" })
                </div>
            </div>
            <h4 class="control-label col-md-2">
                Total Price to Pay: @Session["ticketPrice"]$
            </h4>
            <h4 class="btn btn-primary btn-md">
                <input type="submit" value="Buy" class="btn btn-default" />

            </h4>
        </div>
        </form>
        @*}*@
</body>
</html>