@model AlexMichaelProject.Models.user

@{
    //Layout = null;
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>user</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @*@Html.DisplayNameFor(model => model.username)*@
                User Name:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>
            <dt>
                @*@Html.DisplayNameFor(model => model.password*@
                Password:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.fName)*@
                Firs Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fName)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.fLname)*@
                Last Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fLname)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.adress)*@
                Adress:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adress)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.phoneNumber)*@
                Phone number:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneNumber)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.mail)*@
                E-mail:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mail)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.favoriteClub)*@
                Favorite Club:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.favoriteClub)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isadmin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isadmin)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
