@model AlexMichaelProject.Models.user
@{
    ViewBag.Title = "Details";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="col-md-3" style="width:20%;float:left;">
        @{ Html.RenderAction("SideMenu", "Home");}
    </div>
    <div class="col-md-3" style="width:80%;float:left;margin-top:20px;">
        <h4>user: @Model.username</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>User Name:</dt>
            <dd>@Html.DisplayFor(model => model.username)</dd>
            <dt>Password:</dt>
            <dd>@Html.DisplayFor(model => model.password)</dd>
            <dt>First Name:</dt>
            <dd>@Html.DisplayFor(model => model.fName)</dd>
            <dt>Last Name:</dt>
            <dd>@Html.DisplayFor(model => model.fLname)</dd>
            <dt>Adress:</dt>
            <dd>@Html.DisplayFor(model => model.adress)</dd>
            <dt>Phone number:</dt>
            <dd>@Html.DisplayFor(model => model.phoneNumber)</dd>
            <dt>E-mail:</dt>
            <dd>@Html.DisplayFor(model => model.mail)</dd>
            <dt>Favorite Club:</dt>
            <dd>@Html.DisplayFor(model => model.favoriteClub)</dd>
            @if ((String)Session["power"] == "admin")
            {
                <dt>@Html.DisplayNameFor(model => model.isadmin)</dt>
                <dd>@Html.DisplayFor(model => model.isadmin)</dd>
            }
            <dt>Credit Cards:</dt>
        </dl>

        <table class="table" style="width:650px;">
            <tr>
                <th>CreditCard Number</th>
                <th>Credit Company</th>
                <th>Expired Date</th>
                <th>Actions</th>
            </tr>


            @foreach (var item in Model.paymentoptions)
            {
                if ((String)Session["power"] == "admin" || Model.username == (String)Session["username"])
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.creditcardnumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.creditcardcompany)</td>
                        <td>
                            @{
                                string date = item.expireddate.ToString("dd/MM/yyyy");
                            }
                            @date
                        </td>

                        <td>
                            <p class="btn btn-primary btn-md" style="margin-right:1px;background-color:khaki;">
                                @Html.ActionLink("Edit", "Edit", "paymentoptions", new { id = item.creditcardnumber }, null)
                            </p>
                            <p class="btn btn-primary btn-md" style="margin-right:1px;background-color:silver;">
                                @Html.ActionLink("Details", "Details", "paymentoptions", new { id = item.creditcardnumber }, null)
                            </p>
                            <p class="btn btn-primary btn-md" style="margin-right:1px; background-color:sandybrown">
                                @Html.ActionLink("Delete", "Delete", "paymentoptions", new { id = item.creditcardnumber }, null)
                            </p>
                        </td>
                    </tr>
                                    }
                                }
        </table>
        <dl class="dl-horizontal">
            <dt>Intrested in:</dt>
        </dl>
        <br />
        <table class="table" style="width:650px; margin-left:150px;">
            <tr>
                <th>Team Name</th>
                <th>League</th>
            </tr>
            @foreach (var item in Model.teams)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.teamName)</td>
                    <td>@Html.DisplayFor(modelItem => item.leuge)</td>
                    <td>
                        <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:silver;">
                            @Html.ActionLink("Details", "Details", "teams", new { id = item.teamName }, null)
                        </p>
                    </td>
                </tr>
            }
        </table>

    </div>
    <div style="margin-left:500px;">
        @if ((String)Session["power"] == "admin" || (String)Session["username"] == (Model.username))
        {

            <p class="btn btn-primary btn-md" style="margin-left:50px;">
                @Html.ActionLink("Edit", "Edit", new { id = Model.username })
            </p>
            <p class="btn btn-primary btn-md" style="margin-left:5px;">
                @Html.ActionLink("Add Credit Card", "AddCardToUser", new { id = Model.username })
            </p>
            <p class="btn btn-primary btn-md" style="margin-left:5px;">
                @Html.ActionLink("Add Team", "AddClubToUser", new { id = Model.username })
            </p>
            <p class="btn btn-primary btn-md" style="margin-left:5px;">
                @Html.ActionLink("My Items", "index", "purchases", new { id = Model.username }, null)
            </p>
            if ((String)Session["power"] == "admin")
            {
                <p class="btn btn-primary btn-md" style="margin-left:5px;">
                    @Html.ActionLink("Back to List", "Index")
                </p>
            }
        }
    </div>
</body>
</html>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnDelete").click(function () {
            debugger
            var data = $("#myForm").serialize();

            $.ajax({
                type: "POST",
                url: "/users/Details/5",
                data: data,
                async: true,
                success: function (response) {
                    debugger
                    if (response == "true") {
                        alert("Deleteed successfully");
                        window.location.href = "/users/Details";
                    }
                    else {
                        alert("Sorry, This Team can not be Deleted!!!");
                    }
                }
            })
        })
    })

</script>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
