@model System.Collections.Generic.IList<AlexMichaelProject.Models.product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>

    @{

        List<AlexMichaelProject.Models.product> CartItems = (List<AlexMichaelProject.Models.product>)Session["cart"];
    }
    <table class="table">
        <tr>
            <th>
                Product Code
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Club
            </th>
            <th>
                Type
            </th>
            <th>
                Price
            </th>
            <th>
                Size
            </th>
            <th>
                Description
            </th>
            <th>
                Photo
            </th>
        </tr>

        @if (CartItems != null)
        {
            int total = 0;
            foreach (var item in CartItems)
            {
                total = total + item.cost;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.product1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.clubName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>

                        <img src=@Html.DisplayFor(modelItem => item.photo) style="width:40px;height:40px;" />
                    </td>
                    <td>
                     
                        <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:grey;">
                            @Html.ActionLink("Details", "Details", new { id = item.product1 })
                        </p>

                        <p class="btn btn-primary btn-md" style="margin-right:5px; background-color:black;">
                            @Html.ActionLink("Remove From Cart", "Delete", new { id = item.product1 })
                        </p>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
        <td><h3>The sum is:@total$</h3></td>
                @{
                    Session["sum"] = @total + " ";
                }
                <td>
                    <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:blue;">
                        @Html.ActionLink("Purchase", "BuyCart", new {})
                    </p>
                </td>

            </tr>
        }
    </table>
    @if (CartItems == null)
    {
        <h3>There are no items in the cart</h3>
    }
    else
    {
        
    }

</body>
</html>