@model System.Collections.Generic.IList<AlexMichaelProject.Models.product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    <div class="col-md-3" style="margin-top:20px; width:20%;">
        @{ Html.RenderAction("SideMenu", "Home");}
    </div>
    @{
        List<AlexMichaelProject.Models.product> CartItems = (List<AlexMichaelProject.Models.product>)Session["cart"];
    }
    <div id="show" class="col-md-3" style="width:80%;float:right;margin-top:20px;">
        <table class="table" id="tableId">
            <tr>
                <th>Product Code</th>
                <th>Manufacturer</th>
                <th>Club</th>
                <th>Type</th>
                <th>Price</th>
                <th>Size</th>
                <th>Description</th>
                <th>Photo</th>
            </tr>
            @if (CartItems != null)
            {
                int total = 0;
                for (int i = 0; i < CartItems.Count; i++)
                {
                    total = total + CartItems.ElementAt(i).cost;
                    <tr id="myRow">
                        <td>@Html.DisplayFor(modelItem => CartItems.ElementAt(i).product1)</td>
                        <td>@Html.DisplayFor(modelItem => CartItems.ElementAt(i).manufacturer)</td>
                        <td>@Html.DisplayFor(modelItem => CartItems.ElementAt(i).clubName)</td>
                        <td>@Html.DisplayFor(modelItem => CartItems.ElementAt(i).type)</td>
                        <td>@Html.DisplayFor(modelItem => CartItems.ElementAt(i).cost)</td>
                        <td>@Html.DisplayFor(modelItem => CartItems.ElementAt(i).size)</td>
                        <td>@Html.DisplayFor(modelItem => CartItems.ElementAt(i).description)</td>
                        <td><img src=@Html.DisplayFor(modelItem => CartItems.ElementAt(i).photo) style="width:40px;height:40px;" /></td>

                        <td>
                            @*<p class="btn btn-primary btn-md" style="margin-right:5px; background-color:black;">
                                @Html.ActionLink("Remove From Cart", "removeFromCart", "products", new { id = item.product1 }, null)
                                @Ajax.ActionLink("Remove From Cart", "removeFromCart", "products", new { id = item.product1 }, new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "show",
                                        InsertionMode = InsertionMode.Replace,
                                    })
                                </p>*@

                            @*<form id="myForm">*@
                            <div class="col-md-offset-2 col-md-10">
                                @Html.AntiForgeryToken()
                                <div class="form-actions no-color">

                                    <input type="hidden" value=@CartItems.ElementAt(i).product1 name="id" />
                                    <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:grey; ">
                                        @Html.ActionLink("Details", "Details", "products", new { id = CartItems.ElementAt(i).product1 }, null)
                                    </p>
                                    <input type="button" value="Delete" class="btn btn-default" id="@CartItems.ElementAt(i).product1" onclick="Click(@(i+1),@CartItems.ElementAt(i).cost,@total);return" />
                                    @*<input type="button" value="Delete" class="btn btn-default" id="btnDelete" />*@
                                </div>
                            </div>
                            @*</form>*@
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td><h3 id="sumcart">The sum is:@total$</h3></td>

                    @{
                        Session["sum"] = @total + " ";
                    }

                    <td>
                        <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:blue;">
                            @Html.ActionLink("Purchase", "BuyCart", new { })
                        </p>
                    </td>
                </tr>
                        }
        </table>
    </div>

    @if (CartItems == null)
    {
        <h3>There are no items in the cart</h3>
    }
</body>
</html>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var tmp;
    var itemPrice;
    var total;
    var newTotal;
    var headerTotal;

    var Click = function (index, price,total) {
        debugger
        tmp = event.srcElement.id;

        itemPrice = price;
        total = total;
        newTotal = total - itemPrice;
        headerTotal = "The sum is:" + newTotal + "$";


        var table = document.getElementById("tableId");
        var row = table.rows[index];

        $("tr").click(function () {
            $(this).remove();
        })

        //$(document).ready(function () {
        //$("#btnDelete").click(function () {
        //var data = $("#myForm").serialize();

        $.ajax({
            type: "POST",
            url: "/products/removeFromCart",
            //data: data,
            data: { id: tmp },
            async: true,
            success: function (response) {
                debugger
                if (response == "true") {
                    alert("Deleteed successfully");
                    //$('#myRow').remove();
                    $("tr").click(function () {
                        $(this).remove();
                    })

                    $("#sumcart").replaceWith(headerTotal);

                    //window.location.href = "/users/showcart";

                }
                else {
                    alert("Sorry, This Product can not be Deleted!!!");
                }
            }
        })

        //})
        //})
    }


</script>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>