@model AlexMichaelProject.Models.product

@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                <img src=@Html.DisplayFor(model => model.photo) style="width:250px;height:250px;" />
            </dd>

            <dt>
                Product Type:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.type)
            </dd>

            <dt>
                Cost
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cost)$
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.size)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.size)
            </dd>

            <dt>
                Description:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.photo)
                </dt>

                <dd>
                    <img src=@Html.DisplayFor(model => model.photo) style="width:100px;height:100px;" />
                </dd>*@

            <dt>
                Manufacturer
            </dt>

            <dd>
                <a href=@Html.DisplayFor(model => model.manufacturer1.msite)>@Html.DisplayFor(model => model.manufacturer1.mname)</a>
            </dd>

            <dt>
                Team Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.team.teamName)
            </dd>

        </dl>
    </div>
    <div style="margin-left:50px;">
        @if ((String)Session["power"] == "user")
        {
            <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:aquamarine;">
                @Html.ActionLink("Add To Cart", "AddToCart", new { id = Model.product1 })
            </p>
            <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:aqua;">
                @Html.ActionLink("Purchase", "Purchase", new { id = Model.product1 })
            </p>
        }
        @if ((String)Session["power"] == "admin")
        {
            <p class="btn btn-primary btn-md">
                @Html.ActionLink("Edit", "Edit", new { id = Model.product1 })
            </p>
            <p class="btn btn-primary btn-md" style="margin-right:5px; background-color:black;">

                @Html.ActionLink("Delete", "Delete", new { id = Model.product1 })
            </p>
        }

        

        <p class="btn btn-primary btn-md" style="margin-right:5px; background-color:grey;">
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>
</html>
