@model IEnumerable<AlexMichaelProject.Models.product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products Page</title>
</head>
<body>
    
    <div id="search" class="col-md-3" style="width:100%;float:left;margin-top:20px;">
        <div class="col-md-3" style="width:20%;float:left;">
            @{ Html.RenderAction("SideMenu", "Home");}
        </div>
        <div style="width:80%; float:right;">
            @if ((String)Session["power"] == "admin")
            {
                <p class="btn btn-primary btn-success" style="background-color:lightgreen;">
                    @Html.ActionLink("Create New", "Create")
                </p>
            }

            @*@using (Html.BeginForm())*@
            @using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "search", InsertionMode = InsertionMode.Replace }))
            {
                <div>
                    Search By Club Name:@Html.TextBox("clubName")
                    <input type="submit" name="name" value="Search" class="btn btn-info" />
                </div>
            }
            <br />

            <table class="table">
                <tr>
                    <th>Product Code</th>
                    <th>Manufacturer</th>
                    <th>Club</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Description</th>
                    <th>Photo</th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.product1.Equals("999"))
                    {
                        <tr></tr>
                    }
                    else { 
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.product1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.manufacturer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.clubName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.size)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            <img src=@Html.DisplayFor(modelItem => item.photo) style="width:40px;height:40px;" />
                        </td>
                        <td>
                            @if ((String)Session["power"] == "user")
                            {
                                <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:aquamarine;">
                                    @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.product1 })
                                </p>
                            }
                            <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:grey;">
                                @Html.ActionLink("Details", "Details", new { id = item.product1 })
                            </p>
                            @if ((String)Session["power"] == "admin")
                            {
                                <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:yellow;">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.product1 })
                                </p>
                                <p class="btn btn-primary btn-md" style="margin-right:5px; background-color:black;">
                                    @Html.ActionLink("Delete", "Delete", new { id = item.product1 })
                                </p>
                            }
                        </td>
                    </tr>
                    }
                }

            </table>
        </div>
    </div>
</body>
</html>
