@model AlexMichaelProject.Models.match

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="col-md-3" style="width:20%;float:left;">
        @{ Html.RenderAction("SideMenu", "Home");}
    </div>
    <h3>Are you sure you want to delete this?</h3>
    <div id="del" class="col-md-3" style="width:80%;float:left;margin-top:20px;">
        <h4>match</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>MatchID:</dt>
            <dd>@Html.DisplayFor(model => model.matchID)</dd>
            <dt>Team A:</dt>
            <dd>@Html.DisplayFor(model => model.teamA)</dd>
            <dt>Team B:</dt>
            <dd> @Html.DisplayFor(model => model.teamB)</dd>
            <dt>Stadium:</dt>
            <dd>@Html.DisplayFor(model => model.stadium)</dd>
            <dt>League:</dt>
            <dd>@Html.DisplayFor(model => model.league)</dd>
            <dt>Date:</dt>
            <dd>@Html.DisplayFor(model => model.date)</dd>
        </dl>
        <form id="myForm" action=@Url.Action("DeleteConfirmed","matches") method="post">
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="hidden" value=@Model.matchID name="id" />
                @if ((String)Session["power"] == "admin")
                {
                    <input type="button" value="Delete" class="btn btn-default" id="btnDelete" />
                }
            </div>
        </form>
    </div>
    <br />
    <div class="col-md-3" style="width:80%;float:left;margin-top:20px;">
        <p class="btn btn-primary btn-md">
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnDelete").click(function () {
            //debugger
            var data = $("#myForm").serialize();

            $.ajax({
                type: "POST",
                url: "/matches/DeleteConfirmed",
                data: data,
                async: true,
                success: function (response) {
                    debugger
                    if (response == "true") {
                        alert("Match Deleteed successfully");
                        //window.location.href = "/teams/Index";
                        $('#del').remove();
                    }
                    else {
                        alert("Sorry, This Match can not be Deleted!!!");
                    }
                }
            })
        })
    })

</script>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


