@model IEnumerable<AlexMichaelProject.Models.match>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                MatchID
            </th>
            <th>
                Team A
            </th>
            <th>
                Team B
            </th>
            <th>
                Stadium
            </th>
            <th>
                League
            </th>
            <th>
                Date
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.matchID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teamA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teamB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stadium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.league)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.matchID }) |
                @Html.ActionLink("Details", "Details", new { id=item.matchID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.matchID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
