@model AlexMichaelProject.Models.paymentoption

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="col-md-3" style="width:20%;float:left;">
        @{ Html.RenderAction("SideMenu", "Home");}
    </div>
    <div id="del" class="col-md-3" style="width:80%;float:left;margin-top:20px;">
        <h3>Are you sure you want to delete this?</h3>

        <h4>paymentoption</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>CreditCard Number:</dt>
            <dd>@Html.DisplayFor(model => model.creditcardnumber)</dd>
            <dt>CreditCard Company:</dt>
            <dd>@Html.DisplayFor(model => model.creditcardcompany)</dd>
            <dt>Expired Date:</dt>
            <dd>@Html.DisplayFor(model => model.expireddate)</dd>
        </dl>

        <form id="myForm" action=@Url.Action("DeleteConfirmed", "paymentoptions") method="post">
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="hidden" value=@Model.creditcardnumber name="id" />
                @if ((String)Session["power"] == "admin")
                {
                    <input type="button" value="Delete" class="btn btn-default" id="btnDelete" />
                }
                <p class="btn btn-primary btn-md">
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </form>
    </div>

</body>
</html>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnDelete").click(function () {
            //debugger
            var data = $("#myForm").serialize();

            $.ajax({
                type: "POST",
                url: "/paymentoptions/DeleteConfirmed",
                data: data,
                async: true,
                success: function (response) {
                    debugger
                    if (response == "true") {
                        alert("Credit Card Deleteed successfully");
                        //window.location.href = "/teams/Index";
                        $('#del').remove();
                    }
                    else {
                        alert("Sorry, This Credit Card can not be Deleted!!!");
                    }
                }
            })
        })
    })

</script>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
