@model AlexMichaelProject.Models.paymentoption

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>paymentoption</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.creditcardcompany)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.creditcardcompany)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.expireddate)
            </dt>
    
            <dd>
                @{
                    string date = Model.expireddate.ToString("dd/MM/yyyy");
                }

                @date
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.creditcardnumber }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
