@model IEnumerable<AlexMichaelProject.Models.paymentoption>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="show">
        <div class="col-md-3" style="width:20%;float:left;">
            @{ Html.RenderAction("SideMenu", "Home");}
        </div>
        <div class="col-md-3" style="width:80%;float:left;margin-top:20px;">
            @if ((String)Session["power"] == "admin")
            {
                <p class="btn btn-primary btn-success" style="background-color:lightgreen;">
                    @Html.ActionLink("Create New", "Create")
                </p>
            }

            <table class="table">
                <tr>
                    <th><h3>Credit Card Number</h3></th>
                    <th><h3>Credit Card Company</h3></th>
                    <th><h3>Expired Date</h3></th>
                </tr>
                @foreach (var item in Model)
                {
                    if ((String)Session["power"] == "user")
                    { }
                    else
                    {
                    <tr>
                        <td>
                            <h4>
                                @{
                                    string cNumber = item.creditcardnumber + "";
                                    Char[] temp = cNumber.ToCharArray();
                                    for (int i = 0; i < temp.Length - 4; i++)
                                    {
                                        temp[i] = '*';
                                    }
                                    String number = "";
                                    for (int j = 0; j < temp.Length; j++)
                                    {
                                        number = number + temp[j];
                                    }
                                }
                                @number.ToString()
                            </h4>
                        </td>
                        <td><h4>@Html.DisplayFor(modelItem => item.creditcardcompany)</h4></td>
                        <td>
                            <h4>
                                @{string date = item.expireddate.ToString("dd/MM/yyyy");}
                                @date
                            </h4>
                        </td>
                        <td>

                            <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:silver;">
                                @*@Html.ActionLink("Details", "Details", new { id = item.creditcardnumber })*@
                                @Ajax.ActionLink("Details", "Details", new { id = item.creditcardnumber }, new AjaxOptions()
                           {
                               HttpMethod = "POST",
                               UpdateTargetId = "show"
                           })
                            </p>
                            <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:khaki;">
                                @Html.ActionLink("Edit", "Edit", new { id = item.creditcardnumber })
                            </p>

                            <p class="btn btn-primary btn-md" style="margin-right:5px; background-color:sandybrown;">
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.creditcardnumber })*@
                                @Ajax.ActionLink("Delete", "Delete", new { id = item.creditcardnumber }, new AjaxOptions()
                           {
                               HttpMethod = "POST",
                               UpdateTargetId = "show"
                           })
                            </p>
                        </td>
                    </tr>
                                    }}
            </table>
        </div>
    </div>
</body>
</html>
