@model IEnumerable<AlexMichaelProject.Models.team>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="show">
        <div class="panel panel-danger">
            <div class="col-md-3" style="margin-top:20px">
                @{ Html.RenderAction("SideMenu", "Home");}
            </div>
            <div class="col-md-9">
                <br />
                @if ((String)Session["power"] == "admin")
                {
                    <p class="btn btn-primary btn-success" style="background-color:lightgreen;">
                        @Html.ActionLink("Create New", "Create")
                    </p>
                }
                <br />
                <table class="table">
                    <tr>
                        <th><h3>Club Name</h3></th>
                        <th><h3>League</h3></th>
                        <th><h3>Home Stadium</h3></th>
                    </tr>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td><h4>@Html.DisplayFor(modelItem => item.teamName)</h4></td>
                            <td><h4>@Html.DisplayFor(modelItem => item.leuge)</h4></td>
                            <td><h4>@Html.DisplayFor(modelItem => item.homeStadium)</h4></td>
                            <td>
                                <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:silver;">
                                    @Ajax.ActionLink("Details", "Details", new { id = item.teamName }, new AjaxOptions()
                               {
                                   HttpMethod = "POST",
                                   UpdateTargetId = "show"
                               })
                                </p>
                                @if ((String)Session["power"] == "admin")
                                {
                                    <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:khaki;">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.teamName })
                                    </p>
                                    <p class="btn btn-primary btn-md" style="margin-right:5px; background-color:sandybrown;">
                                        @*@Html.ActionLink("Delete", "Delete", new { id = item.teamName })*@
                                        @Ajax.ActionLink("Delete", "Delete", new { id = item.teamName }, new AjaxOptions()
                                   {
                                       HttpMethod = "POST",
                                       UpdateTargetId = "show"
                                   })
                                    </p>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>
