@model IEnumerable<AlexMichaelProject.Models.team>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="panel panel-danger">
        <div class="col-md-3" style="margin-top:20px">
            @{ Html.RenderAction("SideMenu", "Home");}
        </div>

        <div class="col-md-9">
            <br />
            <p class="btn btn-primary btn-success" style="background-color:lightgreen;">
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>Club Name</th>
                    <th>League</th>
                    <th>Home Stadium</th>
                </tr>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.teamName)</td>
                        <td>@Html.DisplayFor(modelItem => item.leuge)</td>
                        <td>@Html.DisplayFor(modelItem => item.homeStadium)</td>
                        <td>
                            <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:yellow;">
                                @Html.ActionLink("Edit", "Edit", new { id = item.teamName })
                            </p>
                            <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:grey;">
                                @Html.ActionLink("Details", "Details", new { id = item.teamName })
                            </p>
                            <p class="btn btn-primary btn-md" style="margin-right:5px; background-color:black;">
                                @Html.ActionLink("Delete", "Delete", new { id = item.teamName })
                            </p>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
