@model IEnumerable<AlexMichaelProject.Models.purchase>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="show">
        <div id="search" class="col-md-3" style="width:100%;float:left;margin-top:20px;">
            <div class="col-md-3" style="width:20%;float:left;">
                @{ Html.RenderAction("SideMenu", "Home");}
            </div>
            <div class="col-md-3" style="width:80%;float:left;margin-top:20px;">

                @using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "search", InsertionMode = InsertionMode.Replace }))
            {
                    <div>
                        <form>
                            <h4>Search Type:</h4>
                            <select name="type" class="form-control">
                                <option selected="selected" value="Username">User Name</option>
                                <option value="DealID">Deal ID</option>
                                <option value="ProductID">Product ID</option>
                            </select>
                            <h4>
                                Search: @Html.TextBox("text")
                                <button type="submit" name="name" value="Search" class="btn btn-info">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            </h4>
                        </form>
                    </div>
                }
                <br />

                <table class="table">
                    <tr>
                        <th>Username</th>
                        <th>Product ID</th>
                        <th>Credit Card Number</th>
                        <th>Date of purchase</th>
                        <th>DealID</th>
                    </tr>

                    @foreach (var item in Model)
            {
                if (Session["username"].Equals(item.username) || Session["power"].Equals("admin"))
                {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.username)</td>
                                <td>@Html.DisplayFor(modelItem => item.product1.product1)</td>
                                <td>@Html.DisplayFor(modelItem => item.creditcardnumber)</td>
                                <td>
                                    @{string date = item.dateOfPurchase.ToString("dd/MM/yyyy");}
                                    @date
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.dealID)</td>
                                <td>
                                    <p class="btn btn-primary btn-md" style="margin-right:5px;background-color:silver;">
                                        @*@Html.ActionLink("Details", "purchaseProd", "Products", new { id = item.product1.product1 }, null)*@
                                        @Ajax.ActionLink("Details", "purchaseProd", "Products", new { id = item.product1.product1 }, new AjaxOptions()
                                   {
                                       HttpMethod = "POST",
                                       UpdateTargetId = "show"
                                   })
                                    </p>
                                </td>
                            </tr>
                         }}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
